@media (max-width: 1440px) and (orientation: landscape) {
	nav {
		font-size: 20px;
	}

	#name {
		padding: 2vh 1vh;
	}

	#dropdown {
		font-size: 15px;
	}

	/* h1 {
		font-size: 25px;
	}

	p {
		font-size: 18px;
	} */
}

@media (max-width: 1024px) and (orientation: landscape) {
	nav {
		font-size: 15px;
	}

	#dropdown {
		font-size: 12px;
	}

	#containerAccueil .imgAside {
		padding: 26vh 5vw;
	}

	.content {
		padding: 10vh 10vh 10vh 50vh;
	}

	/* h1 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
	} */
}

@media (orientation: portrait) {
	#iconBurger {
		display: block;
	}

	nav {
		transform: translateY(-100vh);
		transition: 0.4s ease-in;
		height: 100vh;
		width: 100vw;
	}

	nav.active {
		transform: translateY(0);
	}

	#iconBurger.active span:nth-child(1) {
		transform: rotate(40deg) translate(10px, 25px);
		width: 60px;
		margin: 0;
		border-radius: 50%;
	}

	#iconBurger.active span:nth-child(2) {
		background-color: black;
	}

	#iconBurger.active span:nth-child(3) {
		transform: rotate(-40deg) translate(-4px, -8px);
		width: 60px;
		margin: 0;
		border-radius: 50%;
	}

	#name {
		position: fixed;
		text-align: center;
		width: 100vw;
	}

	.nav {
		flex-direction: column;
	}

	.container {
		padding-top: 0;
	}

	.imgAside {
		display: none;
	}

	.content,
	#containerContact .content {
		padding: 10vh 10vw;
	}

	.mobileHeader {
		display: block;
	}

	h1 {
		font-size: 3vw;
	}

	p {
		font-size: 2vw;
	}

	#containerContact .content > div {
		flex-direction: column;
	}

	#googleMap {
		margin-top: 10vh;
		width: 60vw;
		height: 60vw;
	}
}

@media (max-width: 700px) {
	nav {
		font-size: 20px;
	}

	#dropdown {
		font-size: 12px;
	}
}
