@media (max-width: 1440px) and (orientation: landscape) {
	nav {
		font-size: 20px;
	}

	#dropdown {
		font-size: 15px;
	}

	h1 {
		font-size: 25px;
	}

	p {
		font-size: 18px;
	}
}

@media (max-width: 1024px) and (orientation: landscape) {
	nav {
		font-size: 15px;
	}

	#dropdown {
		font-size: 12px;
	}

	#imgAsideAccueil {
		padding: 26vh 5vw;
	}

	.content {
		padding: 10vh 10vh 10vh 50vh;
	}

	h1 {
		font-size: 20px;
	}

	p {
		font-size: 17px;
	}
}

@media (max-width: 700px) {
	nav {
		font-size: 12px;
	}

	#dropdown {
		font-size: 12px;
	}

	h1 {
		font-size: 18px;
	}

	p {
		font-size: 15px;
	}
}

@media (max-width: 550px) {
	nav {
		font-size: 10px;
	}

	#dropdown {
		font-size: 11px;
	}
}

@media (orientation: portrait) {
	#iconBurger {
		display: block;
	}

	nav {
		transform: translateY(-100vh);
		transition: 0.4s ease-in;
		height: 100vh;
		width: 100vw;
		font-size: 6vw;
	}

	nav.active {
		transform: translateY(0);
	}

	#iconBurger.active span:nth-child(1) {
		transform: rotate(45deg) translate(0.5vw, 9vw);
		width: 22vw;
		margin: 0;
		border-radius: 50%;
	}

	#iconBurger.active span:nth-child(2) {
		background-color: black;
	}

	#iconBurger.active span:nth-child(3) {
		transform: rotate(-45deg) translate(-3vw, -5.3vw);
		width: 22vw;
		margin: 0;
		border-radius: 50%;
	}

	#name {
		width: 100vw;
	}

	.nav {
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 15vh;
	}

	#dropdown {
		padding: 0;
		font-size: 3.5vw;
	}
	#dropdown > li {
		padding: 1vh 0;
	}

	.container {
		padding-top: 0;
	}

	.imgAside {
		display: none;
	}

	.content,
	#containerContact .content {
		padding: 10vh 10vw;
	}

	.mobileHeader {
		display: block;
	}

	h1 {
		font-size: 6vw;
		padding-bottom: 9vh;
	}

	p {
		font-size: 5vw;
	}

	#containerContact .content > div {
		flex-direction: column;
	}

	#googleMap {
		margin-top: 10vh;
		width: 60vw;
		height: 60vw;
	}
}

/* @media (orientation: portrait) and (min-width: 12cm) { */
@media (orientation: portrait) and (min-width: 5.5in) {
	/* h1 {
		font-size: 6vw;
		padding-bottom: 9vh;
	} */

	p {
		font-size: 17px;
	}
}
